{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>画像をロードしてください</h1>
      <h2>(jpg, jpeg, bmp, png, size<1MB)</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <form class="form-inline" enctype="multipart/form-data" action="/binarize" name="form" method="post">
          <div class="form-group" style="width:400px;">
            <div class="input-group">
              <input type="file" id="file_input" name="file_input" style="display: none;">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button" onclick="$('#file_input').click();"><i class="glyphicon glyphicon-folder-open"></i></button>
              </span>
              <div class="input-group">
                <input id="dummy_file" type="text" class="form-control" placeholder="select file..." disabled>
              </div>
            </div>
            <div class="input-group">
                <button type="submit" name="upload" class="btn">upload</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
